<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">PT<span style="color: black">2</span>GO</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Find outdoor classes and start your workout routine!</h2>
            <%= link_to sessions_path, class: 'btn btn-success' do %>
              Get Started
            <% end %>
        </div>
    </div>
</header>

