

  <% if user_signed_in? %>
    <p> <strong>Have you been to this class before? Leave a review!</strong></p>
    <%= simple_form_for [@session, @review] do |f| %>
      <%= f.input :description %>
      <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <p> <strong>You must be logged in to leave a review</strong></p>
  <% end %>


