<div class="container">
    <% @session.reviews.each do |review| %>
      <div class="media m-5">
        <%= cl_image_tag review.user.photo.key, :class => "avatar" %>
          <div class="media-body">
            <h5 class="mt-0"><%= review.user.name  %></h5>
            <%= review.description %>
            <%= review.rating %>
          </div>
      </div>
    <% end %>
</div>
